SERVER_PORT=18080
MYSQL_URL=jdbc:mysql://127.0.0.1:3306/make_image?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
MYSQL_USERNAME=make_image
MYSQL_PASSWORD=change-this-password
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_TIMEOUT=2s
APP_JWT_SECRET=change-this-secret-to-at-least-32-characters
APP_JWT_EXPIRATION_HOURS=168
APP_STORAGE_DIR=/opt/aimakeimage/storage
APP_PUBLIC_BASE_URL=https://image.wwjin.site
